/*mobile first */
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  background-color: rgb(50, 50, 104);
}
.container {
  width: 100%;
  height: 100%;
  font-family: "Pushster", cursive;
  color: white;
}
h1 {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  transition: font-size 0.5s;
}
.year {
  text-align: center;
  font-size: 2rem;
}
.letter {
  width: 400px;
  height: 300px;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 5px 5px 8px black;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
}
.letter2 {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.by {
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 200px;
}
.text {
  display: none;
  margin: auto 8px;
}
