* {
    margin: 0;
    padding: 0;
}
table, tr,td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 80px;
    text-align: center;
}
td.long {
    width: 100px;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.table {
    margin-left: 15px;
    margin-right: 15px;

}
.logo {
    padding-left: 15px;
    background-color: black;
    color: white;
    width: 100%;
    height: 60px;
}
h2 {
    line-height: 60px;
    font-size: 30px;
}
p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
}
th {
    background-color: rgb(32, 236, 158);
}
.footer {
    width: 100%;
    height: 40px;
    background-color: black;
    margin-top: 20px;
    color: white;
    line-height: 40px;
    padding-left: 10px;
}